/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
/*Gerais*/
*{
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, h1{
    text-decoration: none;
}
/*-----===HEADER===-----*/
header{
    width: 100%;
    height: 75px;
    background-color: #00985D;
    padding: 4px;
}
.header{
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-top: 4px;
    margin-bottom: 5px;
}
/*Header Elementos*/
.headerImgLogo{
    height: 60px;
    border: 2px solid white;
    border-top-left-radius: 13px ;
    border-bottom-left-radius: 13px ;
    border-top-right-radius: 13px
}
.form{
    width: 40%;
    display: flex;
}
.headerBarraDePesquisa {
    width: 600px;
    height: 40px;
    color: #1a1a1a;
    border: 0 none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 0 0 0;
    outline: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.searchbtn{
    width: 80px;
    height: 40px;
    background-color: #00985D;
    border: 2px solid white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.searchbtn:hover{
    background-color: #32AC7B;
}
.searched {
    background-color: rgba(255, 255, 13, 0.712);
    color: black;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px;
}
.usuario{
    gap: 11px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.headerNomeUsuario {
    font-size: 19px;
}
.headerImgUsuario {
    height: 55px;
    border: 2px solid white;
    border-radius: 50%;
}
.btnSair{
    height: 44px;
    width: 44px;
    background-color: #00995d;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}
.btnSair a{
    width: 100%;
    height: 100%;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnSair a:hover{
    background-color: #32AC7B;
}

/*-----===CONTEUDO===-----*/

/*--container--*/
.conteudo{
    width: 1020px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px auto 0;
    gap: 10px;
    flex-wrap: wrap;
    background-color: white !important;
}
/*-----===NAVEGAÇÃO===-----*/
.navegacao {
    width: 100%;
    height: 55px;
    background-color: #00985D;
    border: 2px solid #00524C;
    border-radius: 3px;
}
/*Navegação Elementos*/
.navegacao{
    height: 50px;
    border-radius: 3px;
}
.nav-list{
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
nav ul li a{
    letter-spacing: 1px;
    justify-content: flex-start;
    list-style-type: none;
    color: #fff;
    text-decoration: none;
}
li#nav {
    padding: 10px 15px;
    gap: 3px;
}
nav ul li a:hover {
    color: #00524C;
    transition: all .4s ease-in-out;
}
.pgatual {
    background-color: #00524C;
    border-radius: 7px;
}
.pgatual a:hover {
    color: white;
}
div nav ul hr{
    transform: rotate(90deg);
    width: 20px;
}

/*-----===PESQUISA AGENDA===-----*/
.boxPesquisaNumeros{
    width: 100%;
    height: 130px;
    background-color: #F5F2EB;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 1%;
    box-shadow: 0px 3px 3px #EAE2D8;
}
.boxRamaisIntExt{
    width: 25%;
    height: 120px;
    background-color: #00985D;
    border-radius: 7px;
    border: 2px solid #00524C;
    margin-left: 4px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.boxInternos47{
 /* background-color: red; */
    width: 99%;
    height: 49%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.paginaPesquisarInterenos{
    width: 95%;
    height: 80%;
    /* background-color: brown; */
    font-weight: bold;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.divisaoInternosExternos{
    background-color: white;
    width: 95%;
    transform: rotate(50%);
}

.boxExternos47{
 /* background-color: blue; */
    width: 99%;
    height: 49%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.paginaPesquisarExternos{
    width: 95%;
    height: 80%;
    background-color: #00524C;
    border-radius: 7px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

.divisaoNumerosPesquisa{
    background-color: #00524C;
    width: 4px;
}

.boxSearchsRamaisExternos{
    width: 70%;
    height: 120px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
}
.boxProcurarPorSetor{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
}
.txtprocurar{
    font-size: large;
    color:#00524C;
    font-weight: bold;
    text-align: start;
}
.boxProcurarPor{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}
.searchProcurarPor{
    width: 80%;
    height: 30%;
    border-radius: 6px;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}
.boxProcurarTipo{ 
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}
.selecioneTipos{
    width: 50%;
    height: 30%;
    color: black;
    border-radius: 6px;
    border: 1px solid black;
}
.selecioneTipos option{
    color: black;
}
/*-----===LISTA AGENDA===-----*/
.boxListaAgenda{
    width: 100%;
    height: 500px;
    background-color: #F5F2EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    box-shadow: 0px 3px 3px #EAE2D8;
}

/*-----===Paginas Agenda===-----*/
.boxPaginasAgenda{
    width: 30%;
    height: 40px;
    background-color: #EAE2D8;
    border: 2px solid #DEC4BB;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}
.botaoPassarPgEsquerda{
    width: 30px;
    height: 30px;
    color: black;
    font-size: large;
}
.paginasAgendaAtual{
    width: 30px;
    height: 30px;
    color: white;
    background-color: #00524C;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.paginasAgenda{
    width: 30px;
    height: 30px;
    color: #00524C;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.divisaoPaginacao{
    background-color: #00524C;
    height: 50%;
    width: 3px;
}
.botaoPassarPgDireita{
    width: 30px;
    height: 30px;
    color: black;
}

/*-----===FOOTER===-----*/
footer{
    width: 100%;
    background-color: white;
    margin-top: 2px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
   
    border-color: #00524C;
}
.footercenter{
    height: 90px;
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.localizacaoUnimed{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.iconLocUnimed img{
    width: 40px;
    height: 40px;
}
.txtLocalizacao a p{
    color: #00524C;
}
.boxContatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
}
.txtContatos{
    text-align: center;
    color: #00524C;
    font-weight: bold;
}
.iconsContatos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}
.iconsRedesSociais img{
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 5px;
}
.iconsRedesSociais img:hover{
    background-color: #00985D;
    transition: all .3% ease-in-out;
}
.copyright{
    width: 100%;
    height: 30px;
    background-color: white;
    border-top: 2px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-color: #CDDDDC;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    flex-wrap: nowrap;
    gap: 15px;
}
.copyright p{
    color: #00524C;
}

/* --MODAL-- */
.modal{
    width: 600px;
    height: 500px;
    background-color: white;
    border: 3px solid #00524C;
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.internoModel{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.infoAcessibilidade{
    width: 100%;
    height: 33%;
    /* border: 1px solid #000000; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: space-between;
}
.txtAcessibilidade{
    width: 48%;
    height: 100%;
    /* border: 1px solid #1D9908; */
    text-align: justify;
}
.txtAcessibilidade p{
    color: black;
    font-size: medium;
}
.divisaoInfoAcessibilidade{
    width: 1px;
    height: 100%;
    color: #00524C;
    transform: rotate(0deg);
}
.txtcomoUsar{
    width: 48%;
    height: 100%;
    /* border: 1px solid #990808; */
    text-align: justify;
}
.txtcomoUsar p{
    color: black;
    font-size: medium;
}
.txtcomoUsar h3{
    color: black;
    font-size: medium;
}
.boxAtalhos{
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    gap: 7px;
}
.divisaoAcessibilidade{
    width: 100%;
    height: 1px;
    background-color: #00524C;
    transform: rotate(0deg);
}
.linhaAcessibilidade{
    width: 100%;
    height: 22%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    gap: 15px;
}
.botaoAcessibilidade{
    width: 20%;
    height: 100%;
    background-color: #00524C;
    border-radius: 15px;
    border: 1px solid black;
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.txtbotaoAcessibilidade{
    font-size: 25px;
    font-weight: bold;
    color: black;
}