@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, h1{
    text-decoration: none;
}
header{
    width: 100%;
    height: 75px;
    background-color: #00985D;
    padding: 4px;
}
.header{
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-top: 4px;
    margin-bottom: 5px;
}
.headerImgLogo{
    height: 60px;
    border: 2px solid white;
    border-top-left-radius: 13px ;
    border-bottom-left-radius: 13px ;
    border-top-right-radius: 13px
}
.form{
    width: 40%;
    display: flex;
}
.headerBarraDePesquisa {
    width: 600px;
    height: 40px;
    color: #1a1a1a;
    border: 0 none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 0 0 0;
    outline: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.searchbtn{
    width: 80px;
    height: 40px;
    background-color: #00985D;
    border: 2px solid white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
}
.searchbtn:hover{
    background-color: #32AC7B;
}
.searched {
    background-color: rgba(255, 255, 13, 0.712);
    color: black;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px;
}
.usuario{
    gap: 11px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    color: white;
}
.headerNomeUsuario {
    font-size: 19px;
}
.headerImgUsuario {
    height: 55px;
    border: 2px solid white;
    border-radius: 50%;
}
.btnSair{
    height: 44px;
    width: 44px;
    background-color: #00995d;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}
.btnSair a{
    width: 100%;
    height: 100%;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.btnSair a:hover{
    background-color: #32AC7B;
}
.conteudo{
    width: 1020px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px auto 0;
    gap: 10px;
    flex-wrap: wrap;
}
.navegacao {
    width: 100%;
    height: 55px;
    background-color: #00985D;
    border: 2px solid #00524C;
    border-radius: 3px;
}
.navegacao{
    height: 50px;
    border-radius: 3px;
}
.nav-list{
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
nav ul li a{
    letter-spacing: 1px;
    justify-content: flex-start;
    list-style-type: none;
    color: #fff;
    text-decoration: none;
}
li#nav {
    padding: 10px 15px;
    gap: 3px;
}
nav ul li a:hover {
    color: #00524C;
    transition: all .4s ease-in-out;
}
.pgatual {
    background-color: #00524C;
    border-radius: 7px;
}
.pgatual a:hover {
    color: white;
}
div nav ul hr{
    transform: rotate(90deg);
    width: 20px;
}
.boxHeaderDocumentos{
    width: 1020px;
    height: 40px;
    background-color: #00985D;
    border-radius: 7px;
    box-shadow: 0px 3px 2px #00524C;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
}
#sectionDoc{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 5px;
    text-justify: auto;
    margin-top: 10px;
    cursor: pointer;
    width: 1020px;
}
.containerDoc{
    width: 33%;
    min-height: 80px;
    background-color: #e9e9e9;
    border-radius: 7px;
    border: 2px solid #00985D;
    padding: 20px 20px 20px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.div-estilizada{
    color: black;
    font-weight: bold;
}
.containerDoc{
    margin-bottom: 10px;
}
.links {
    border-radius: 20px;
    display: none;
    text-align: start;
}
.links p{
    color: black;
    font-weight: bold;
}
.links ul li a{
    color: #4e4c4c;
    font-size: 12px;
}
.links ul li a:hover{
    background-color: #9AD6BD;


}
footer{
    width: 100%;
    background-color: white;
    margin-top: 2px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    margin-top: 90px;
    border-color: #00524C;
}
.footercenter{
    height: 90px;
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.localizacaoUnimed{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.iconLocUnimed img{
    width: 40px;
    height: 40px;
}
.txtLocalizacao a p{
    color: #00524C;
}
.boxContatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.txtContatos{
    text-align: center;
    color: #00524C;
    font-weight: bold;
}
.iconsContatos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}
.iconsRedesSociais img{
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 5px;
}
.iconsRedesSociais img:hover{
    background-color: #00985D;
    transition: all .3% ease-in-out;
}
.copyright{
    width: 100%;
    height: 30px;
    background-color: white;
    border-top: 2px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-color: #CDDDDC;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    flex-wrap: nowrap;
    gap: 15px;
}
.copyright p{
    color: #00524C;
}
.modal{
    width: 600px;
    height: 500px;
    background-color: white;
    border: 3px solid #00524C;
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.internoModel{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.infoAcessibilidade{
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: space-between;
}
.txtAcessibilidade{
    width: 48%;
    height: 100%;
    text-align: justify;
}
.txtAcessibilidade p{
    color: black;
    font-size: medium;
}
.divisaoInfoAcessibilidade{
    width: 1px;
    height: 100%;
    color: #00524C;
    transform: rotate(0deg);
}
.txtcomoUsar{
    width: 48%;
    height: 100%;
    text-align: justify;
}
.txtcomoUsar p{
    color: black;
    font-size: medium;
}
.txtcomoUsar h3{
    color: black;
    font-size: medium;
}
.boxAtalhos{
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    gap: 7px;
}
.divisaoAcessibilidade{
    width: 100%;
    height: 1px;
    background-color: #00524C;
    transform: rotate(0deg);
}
.linhaAcessibilidade{
    width: 100%;
    height: 22%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    gap: 15px;
}
.botaoAcessibilidade{
    width: 20%;
    height: 100%;
    background-color: #00524C;
    border-radius: 15px;
    border: 1px solid black;
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.txtbotaoAcessibilidade{
    font-size: 25px;
    font-weight: bold;
    color: black;
}